body {
  background-image: url('../src/assets/images/background.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.img {
  max-width: 100%;
}
.volkhov {
  font-family: 'volkhov', serif;
}
.btn-yellow {
  background-color: #F1A501;
}
.color-orange {
  color: #DF6951;
}
.color-blue {
  color: #5E6282;
}
.tagline {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.font-light {
  font-weight: 100;
}
.uppercase {
  text-transform: uppercase;
}